.layout {
    display: flex;
    min-height: 100vh;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding-top: 1rem;
}

.appicon {
    height: 5rem;
    margin: auto;
}
*:has(>.appicon){
    align-self: center;
}

.layoyt > main {
    flex-grow: 1;

}

.header {
    padding: 2rem;
    text-align:right;
}

.menuitem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color .2s ease;
    padding: 1rem 2 rem;
}

.menuitem:hover {
    text-decoration: none;
    background-color: var(--background-color-inset);
}